* {
    background-color: rgb(234, 241, 246);
}



.card {
    width: 15%;
    display: inline-flex;
    margin: 1%;
    background-color: rgb(39, 17, 17);
    min-width: 162px;
    
    
}

.card-title {
    text-transform: capitalize;
}

.card-type-text {
    margin-right: 20px;
    margin-left: 5px;
}