* {
    background-color: rgb(234, 241, 246);
}



.card {
    /* width: 15%; */
    display: inline-flex;
    padding-left: 1px;
    padding-bottom: 1px;
    /* margin: 1.1%; */
    margin-left: 30px;
    margin-top: 20px;
    background-color: rgb(120, 120, 120);
    min-width: 190px;
    
    
}

.card-title {
    text-transform: capitalize;
}

.card-type-text {
    margin-right: 20px;
    margin-left: 5px;
    background-color: rgb(254, 212, 212);
    
}


.button-back {
    padding-right: 3%;
}